<div class="hero-image">
  <div class="hero-text">
    <p class="hero-text-main">WELCOME TO CYCLEBUILD</p>
    <p class="hero-text-sub">PART COMPATIBILITY CHECKER</p>
  </div>
</div>
<div class="aboutUsContainer">
  <div class="aboutUsChild">
    <p class="aboutUsTitle">ABOUT US</p>
    <p class="aboutUsQuestion">What is CycleBuild?</p>
    <p class="aboutUsText">{{ text }}</p>
  </div> 
  <div>
    <img
      class="aboutUsImage"
      src="/assets/homeBike.png"
      alt="image"
      height="300px"
    />
  </div>
</div>
<app-your-bicycles></app-your-bicycles>
<app-parts></app-parts>
